body {
  margin: 0;
  font-family: Menlo, Monaco, 'Courier New', monospace; }

svg {
  display: block;
  cursor: pointer; }

button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  color: white;
  background-color: #ffc166;
  display: block;
  width: 100%; }
  button:hover {
    background-color: #ff9800; }

input[type='file'] {
  display: block;
  width: 100%; }

.play-field {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .play-field::after {
    clear: both;
    content: '.';
    font-size: 0;
    height: 0;
    display: block;
    visibility: hidden; }
  .play-field .play-field-col, .play-field .play-field-left, .play-field .play-field-right {
    box-sizing: border-box; }
  .play-field .play-field-left {
    width: 15%;
    float: left; }
    .play-field .play-field-left > *:not(:last-child) {
      margin-bottom: 0.3rem; }
  .play-field .play-field-right {
    width: 83%;
    margin-left: 2%;
    float: left; }
