body {
  margin: 0; }

canvas {
  display: block;
  background-color: #f0f0f0; }

.center, button, input[type='file'], .play-field {
  margin-left: auto;
  margin-right: auto; }

button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #ffc166;
  display: block;
  width: 100%; }
  button:hover {
    background-color: #ff9800; }

input[type='file'] {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%; }

.play-field {
  width: 95%; }
  .play-field::after {
    clear: both;
    content: '.';
    font-size: 0;
    height: 0;
    display: block;
    visibility: hidden; }
  .play-field .play-field-col, .play-field .play-field-left, .play-field .play-field-right {
    box-sizing: border-box; }
    .play-field .play-field-col:not(:first-child), .play-field .play-field-left:not(:first-child), .play-field .play-field-right:not(:first-child) {
      padding-left: 0.5rem; }
  .play-field .play-field-left {
    width: 15%;
    float: left; }
  .play-field .play-field-right {
    width: 85%;
    float: left; }
