$orange: rgb(255, 152, 0);

body {
	margin: 0;
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

svg {
	display: block;
	cursor: pointer;
}

button {
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	font: inherit;
	font-size: 12px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	background-color: lighten($orange, 20);
	display: block;
	width: 100%;

	&:hover {
		background-color: $orange;
	}
}

input[type='file'] {
	display: block;
	width: 100%;
}

.play-field {
	width: 95%;
	margin-left: auto;
	margin-right: auto;

	&::after {
		clear: both;
		content: '.';
		font-size: 0;
		height: 0;
		display: block;
		visibility: hidden;
	}

	.play-field-col {
		box-sizing: border-box;
	}

	.play-field-left {
		@extend .play-field-col;

		width: 15%;
		float: left;

		> *:not(:last-child) {
			margin-bottom: 0.3rem;
		}
	}

	.play-field-right {
		@extend .play-field-col;

		width: 83%;
		margin-left: 2%;
		float: left;
	}
}
